<app-header></app-header>
<div class="home">
  <div class="first-screen">
    <div class="first-screen__title-wrapper">
      <div class="first-screen__title">
        Менторство
        <br>в сфере IT
      </div>
    </div>
    <div class="first-screen__sub-title-callback">
      <div class="first-screen__sub-title">
        Всего одно требование - Ваше желание
        <br>Начни карьеру в IT. Найди себя в IT
      </div>
      <div class="first-screen__callback">
        <app-callback-button></app-callback-button>
      </div>
    </div>
  </div>

  <div class="owner-screen">

    <div class="owner-screen__title_group">
      <div class="owner-screen__title">Основатель Академии</div>
      <div class="owner-screen__name">Роман Головаха</div>
      <div class="owner-screen__total_ex">
        Основатель 10K.Academy
        <br>14 лет в сфере IT. 12 из них работал Full-Stack программистом.
      </div>
      <div class="owner-screen__projects">
        Основатель, CEO в WeSked
        Основатель, CEO в 10K Academy
        Основатель, CEO в SuperPostman
      </div>

    </div>
    <div class="owner-screen_photo">
      <img src="/assets/images/owner.svg">
    </div>
    <div class="owner-screen_ex">
      <div class="owner-screen_ex1">
        <div class="owner-screen_ex1_12"></div>
        <div class="owner-screen_ex1_text"></div>
      </div>
      <div class="owner-screen_ex2">
        <div class="owner-screen_ex2_10"></div>
        <div class="owner-screen_ex2_text"></div>
      </div>
      <div class="owner-screen_ex3">
        <div class="owner-screen_ex3_5"></div>
        <div class="owner-screen_ex3_text"></div>
      </div>
    </div>
    <div class="owner-screen_technologies"></div>



  </div>
  <div class="faq-screen">



  </div>
  <div class="reviews-screen">



  </div>
  <div class="guarantee-screen">



  </div>
  <div class="application-screen">



  </div>
  <div class="footer-screen">



  </div>

</div>
