.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 24px 59px;

  &__logo {

  }
  &__right {
    display: flex;
  }
  &__app-callback {

  }
  &__language {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #262626;
    margin-left: 35px;
  }
}

